html {
  /* :root arī der */
  --krasa: rgb(31, 29, 182);
}

body {
  --krasa: red;
}

div {
  --krasa: green;
}

h1 {
  color: var(--krasa);
}

p {
  color: var(--krasa);
}

h2 {
  color: var(--krasa);
}
