html {
  /* :root arī der */
  --margarins: 2cm;
  --mainh: 25vh;
  --fontSize: 25px;
  font-family: sans-serif;
  --correctkrasa: #00b16e;
  --incorrectkrasa: #dc3757;
  scroll-snap-type: y mandatory;
}

html[data-theme="light"] {
  --krasa: rgb(249, 251, 231);
  --krasa2: rgb(240, 237, 212);
  --krasa3: rgb(236, 205, 180);
  --fontcol: rgb(0, 0, 0);
}

html[data-theme="dark"] {
  --krasa: rgb(12, 19, 79);
  --krasa2: rgb(29, 38, 125);
  --krasa3: rgb(92, 70, 156);
  --fontcol: rgb(255, 255, 255);
}

.break {
  height: var(--mainh);
}

header {
  background-color: var(--krasa3);
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100vw;
  height: var(--margarins);
  display: grid;
  justify-content: right;
  align-content: right;
}

nav {
  margin-right: 2.5vw;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.centerBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
}

section {
  scroll-snap-align: start;
  width: 75vw;
  height: 100%;
}

h1 {
  font-size: 40px;
  margin-bottom: 7.5vw;
}

.check {
  display: block;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

body {
  margin: 0px;
  background-color: var(--krasa2);
}

p {
  font-size: var(--fontSize);
  color: var(--fontcol);
}

main {
  color: var(--fontcol);
  margin-left: 10vw;
}

.answerBox {
  display: flex;
  height: 100px;
  width: 384px;
  background-color: var(--krasa);
  border-radius: 25px;
  margin-right: 5vw;
  margin-bottom: 5vw;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  transition: 0.25s;
}

.answerBox:hover {
  transform: scale(1.2);
}

.correctBox {
  display: flex;
  height: 100px;
  width: 384px;
  background-color: var(--correctkrasa);
  border-radius: 25px;
  margin-right: 5vw;
  margin-bottom: 5vw;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  transition: 0.3s;
}

.correctBox:hover {
  transform: scale(1.2);
}

.incorrectBox {
  display: flex;
  height: 100px;
  width: 384px;
  background-color: var(--incorrectkrasa);
  border-radius: 25px;
  margin-right: 5vw;
  margin-bottom: 5vw;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  transition: 0.3s;
}

.incorrectBox:hover {
  transform: scale(1.2);
}

.answerCheck {
  height: 100px;
  width: 384px;
  display: block;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  border-radius: 25px;
}

.checkAnswer {
  width: 260px;
  height: 50px;
  background-color: var(--krasa3);
  border: none;
  border-radius: 12.5px;
  cursor: pointer;
  font-size: var(--fontSize);
  color: var(--fontcol);
}

label {
  background-color: var(--secondary-color);
  height: 60px;
  cursor: pointer;
}

/*
input[type="radio"] {
display:none;
}
*/

@media (max-width: 950px) {
  .centerBox {
    width: 450px;
  }
}
