.container {
  display: grid;
  width: 1000px;
  height: 600px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 150px);
  row-gap: 10px;
  column-gap: 10px;
  background-color: pink;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;

  /* Izvieto, lūdzu, elementus ar klasi item 3 kolonnās,
  katra 200 px plata un 2 rindās, katra 150px augsta. */

  gap: 20px;
}

.item {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: violet;
  font-family: sans-serif;
  height: 150px;
  width: 200px;
}
